
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@700&display=swap');


* {
  font-family: 'Sunflower', sans-serif;
}

form span {
  width: 100px;
  justify-content: center;
}

.photo {
  border-radius: 50%;
  border: 1px solid gray;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.like {
    color: red;
    cursor: pointer;
}

.count {
    font-size: 0.5rem;
}
